<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>  
    <form method="post" action="/">

        <div>
            <label for="userName">Nombre de usuario</label>
            <input type="text" name="userName" id="userName" minlength="6">
    
        </div>
    
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
        </div>
    
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>